{% extends "layout.html" %} {% block body %}
<div class="container">
    <!-- Google Map Content -->
    <div class="row subsection">
        <div class="box">
            <!--<div class='buttons' style="padding-left: 10%;">
                <button id="pnw" class="btn btn-success">Pacific Northwest</button>&nbsp;
                <button id="california" class="btn btn-success">California</button>&nbsp;
                <button id="alaska" class="btn btn-success">Alaska</button>
            </div>-->
            <div id="map"></div>
            <br />
            <div style="width: 53%; margin: 0 auto;">
                <p>
                    <label for="amount">Date:</label>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="slider"></div>
                <br />
                <button id="play_btn" class="btn btn-success">Play</button>&nbsp;
                <button id="stop_btn" class="btn btn-danger">stop</button>
            </div>
            <br />
            <table id="datatable" class="text-center table table-striped">
                <thead>
                    <tr>
                        <th>GPS Name</th>
                        <th>Lat</th>
                        <th>Lng</th>
                        <th>Change (in meters)</th>
                    </tr>
                </thead>
            </table>
            <button id="clearTable" class="btn btn-info">Clear History</button>
        </div>
    </div>
    <!-- Data plots 
    <div class="row subsection">
        <div class="box">
            <div class="col-lg-12">
                <h2>Data Plots</h2>
            </div>
            <hr />
            <div class="col-lg-2 col-sm-3">
                <h2 id='gps-label'></h2>
                <div id='gps-data'></div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    -->
    <!-- Our Team (going to be included on poster -->
    <div class="row subsection ourTeam">
        <div class="box" style="height:100%;">
            <div class="col-lg-12">
                <h2>Our Team</h2>
            </div>
            <hr />
            <!-- TODO: save linkedin images locally or create static for presentation without internet. Could also add repeater here to allow more members at a later date -->
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://media.licdn.com/media/p/4/005/05d/0db/3cc1f0d.jpg" alt="">
                <h3>Gina Schmalzle<br /><small>Data Scientist</small></h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/06d/16d/1665555.jpg" alt="">
                <h3>David White<br /><small>Software Engineer</small></h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
<!-- Load Data -->
<script src="{{ url_for('static', filename='js/loadPoints.js') }}"></script>
<!-- Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
<script>

    var stop = 0;
    document.querySelector("#play_btn").addEventListener("click", function() {
        var x = $("#slider").slider("value");
        console.log(x);

        stop = 1;
        // Called the function in each second
        var interval = setInterval(function() {
            $("#amount").val(x);
            $("#slider").slider('value', x);

            x++;
            if (x > 100 || stop == 0) {
                clearInterval(interval); // If exceeded 100, clear interval
            }

        }, 1500); // Run every 7 seconds

    });
    document.querySelector("#stop_btn").addEventListener("click", function() {
        stop = 0;
    });

</script>
<script>


$('#clearTable').on('click', function(event, ui) {
    document.querySelector('#datatable').innerHTML = '<table id="datatable" class="text-center table table-striped"><thead><tr><th>GPS Name</th><th>Lat</th><th>Lng</th><th>Change (in meters)</th></tr></thead></table>';
    //document.querySelector('#gps-label').innerHTML = '';
    //document.querySelector('#gps-data').innerHTML = '';
});
$("#slider").slider().slider("pips", {
            last: false,
            rest: "label",
            step: 12,
            labels: ["2008","2009","2010","2011","2012","2013","2014","2015","2016"]
        });
</script>
{% endblock %}
